<!DOCTYPE html>

<html>

<head>
	<link href='http://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	{{!-- <script type="module" src="/js/"></script> --}}
	<meta charset="utf-8" />
</head>

<body>
  {{{body}}}
</body>

</html>