#titleDetails {
  
}

.pappaDiv {
  width: 600px;
  float: right;
  margin-right: 1%;
  border: solid 2px black;
  /* border-radius: 20px; */
  background-color: white;
}


/* Top */
.topDiv {
  /* border: solid 2px black; */
  text-align: center;
}

h1 {
  /* margin-left: 2%; */
}


/* Middle */
.middleDiv {
  /* border: solid 2px violet; */
  margin-left: 2%;
  display: flex;
  width: 600px;
  /* display: inline; */
}

img {
  /* border: solid 2px black; */
  border-radius: 20px;
  width: 256px;
}

/* Info-packet */
.infoDiv {
  /* border: solid 2px blue; */
  width: 100%;
}

.numberHolder {
  /* border: solid 2px orange; */
  text-align: center;
  margin-top: 10%;
}

.numbers {
  /* border: solid 2px green; */
  
}

.numbers p {
  /* border: solid 1px teal; */
  display: inline-block;
  padding: 1%;
}


/* Bot */
.botDiv {
  /* border: solid 2px red; */
  text-align: center;
}



