.menu {
  border-radius: 0 !important;
}

#searchForm {
  color: #ccc;
}

main {
  margin: 10px;
}

/* Pagination */
.pagination {
  width: 100%;
  text-align: center;
}

.pagination a, .pagination span {
  font-size: 150%;
  text-decoration: none !important;
  padding: 0 2px;
}

.pagination .disabled {
  color: #ccc;
}


/* Table and cells */
table {
  width: 100%;
  /* border: 1px solid black; */
  border-spacing: 0;
}

tr {
  cursor: pointer;
}

tr:nth-child(2n) { /* :not(.detailsContainer) */
  background-color: #eee;
}

th, td {
  text-align: left;
  /* border: 1px solid grey; */
  padding: 2px 5px;
}

/* Details */
tr.detailsContainer {
  width: 500px;
  height: 300px;
  vertical-align: top;
  background-color: #fff;
  margin: 2px;
  padding: 2px;
  border: 2px solid grey;
}

/* Miscellaneous */
.loader {
  opacity: .6;
  /* cursor: wait; */
}

#filters {
  display: inline-block;
  width: 500px;
  padding: 10px 15px;
  border: 1px solid grey;
}

fieldset {
  border: 0;
}

.hidden {
  display: none;
}

/* hide fields from the query, but still make them available for the details box */
#data #id, #data #Runtime {
  display: none;
}
